template(name="nav")
    .ui.secondary.pointing.menu
        a.ui.icon.item
            i.sidebar.icon
        
        .header.item
            | Current channel
        
        .right.menu
            a.icon.item
                i.close.icon