template(name="nav")
    .ui.secondary.pointing.menu
        a.ui.icon.item
            i.sidebar.icon

        .header.item
            | {{session "chatter-room"}}

        .right.menu
            a.icon.item.minimize
                i.minus.icon
            if view "room"
                a.icon.item.settings
                    i.setting.icon
            a.icon.item.close
                i.close.icon

