template(name="nav")
    .ui.secondary.pointing.menu
        a.ui.icon.item
            i.sidebar.icon
        
        .header.item
            | {{session "chatter-room"}}
        
        .right.menu
            a.icon.item
                i.close.icon