template(name="newRoom")
    .content
      form.ui.form
          .field
              label
                  | Channel name
              input(type="text", name="name", placeholder="Enter channel name")

          button.ui.button.primary(type="submit")
              | Create channel




