template(name="room")
    .room.ui.comments.basic.segment
        if messagesReady
            each messages
                +message
        else
            .ui.active.inverted.dimmer
                .ui.text.loader Loading messages
    
    +writer
    
template(name="message")
        .comment
            //- Add avatar support later
                a.avatar
                    img(src=avatar)
            .content
                a.author=userNick
                .metadata
                    span.date=timeAgo
                .text=message
    