
#chatter
    overflow-y: hidden !important

.chatter

    .padded
        padding: 20px 10px 0

    .wrapper
        position: absolute
        height: 100%
        width: 100%
        top: 0
        bottom: 0
        z-index: -1

    .menu
        margin: 0 !important

    .roomList
        position: absolute
        width: 100%
        top: 40px
        bottom: 0
        overflow: hidden
        overflow-y: auto
        background-color: #FAFAFB !important

    .room
        position: absolute
        width: 100%
        top: 40px
        bottom: 56px
        overflow: hidden
        overflow-y: auto
        padding: 0
        margin: 0 !important
        background-color: #FAFAFB !important

        .comment
            .content
                padding: 5px
                background-color: #E6EEF4
                border-radius: 5px

    .newroom-btn
        position: absolute
        bottom: 0

    .writer
        position: absolute
        width: 100%
        bottom: 0
        border: none
        border-top: 2px solid rgba(34, 36, 38, 0.15) !important

        textarea
            border-radius: 0 !important
            border: none

.chatter-open
    position: fixed
    transform: rotate(-90deg)
    right: -25px
    top: 10%
