@import '/variables.styl'

body
    background-color: transparent

.sidebar
    width: 400px !important
    &.ui.sidebar.chatter
        border-radius: 5px!important
.hidden
    display: none

.chatter
    background-color: chatter-white !important

    .bold
        font-weight: 600
    .success-msg
        color: chatter-status-green
    .failure-msg
        color: chatter-status-red

    .ui.primary.button
        background-color: chatter-blue !important
        border: 1px solid chatter-blue-darker !important

    p.gray-text
        color: chatter-trans-gray
        font-style: italic

    .padded
        padding: 14px 14px 0

    .wrapper
        position: absolute
        height: 100%
        width: 100%
        top: 0
        bottom: 0
        z-index: -1

        .scrollable
            position: absolute
            width: 100%
            overflow: hidden
            overflow-y: auto
            top: 54px
            bottom: 42px

    .user-status
        position: absolute
        width: 0.8em
        height: 0.8em
        border-radius: 0.8em
        z-index: 1
        border: 1px solid chatter-light-blue
        &.none
            display: none
        &.offline
            background-color: chatter-status-red
        &.online
            background-color: chatter-status-green

    .ui.divider
        margin: 0.2rem 0rem

    .ui.secondary.pointing.menu
        margin: 0 !important
        background-color: chatter-blue
        border: 1px solid chatter-blue-darker
        border-radius: 4px 4px 0 0
        .item
            padding-top: 1.4em
            padding-bottom: 1.4em
        >.right, >.left
            min-width: 90px
            .icon.item
                min-width: 45px
                color: white
        .header
            flex-grow: 1
            &.item
                color: white !important
                max-width: 220px
            .status
                text-align center
                display: block
                width: 100%
                span
                    overflow: hidden
                    text-overflow: ellipsis
                    white-space: nowrap
                    display: block

    .roomList
        .count
            color: chatter-trans-gray
            font-size: 15px
        .active-rooms
            padding-bottom: 10px
        .roomListBtn
            text-align: center
            cursor: pointer
            color: chatter-trans-gray
            font-size: 10px
            text-transform: uppercase
        .ui.list .item
            padding-top: 16px
            padding-bottom: 16px
            &.unread
                background-color: chatter-highlighted-background !important
            .ui.avatar.image
                width: 3em
                height: 3em
            .content
                width: 85%
                padding-left: 0.8em
                .header
                    font-size: 1.1em
                    .roomName
                        max-width: 60%
                        overflow: hidden
                        text-overflow: ellipsis
                        white-space: nowrap
                        float: left
                        color: chatter-gray
                    .meta
                        color: chatter-trans-gray
                        display: block
                        float: right
                        font-weight: 400
                        font-size: 0.8em
                        line-height: 20px
                .description
                    width: 100%
                    padding-top: 8px
                    color: chatter-trans-gray
                    .preview
                        display: inline-block
                        width: 85%
                        overflow: hidden
                        text-overflow: ellipsis
                        white-space: nowrap
                    .counter
                        display: inline-block
                        width: 15%
                        text-align: right
                        font-size: 0.7em
                        span
                            border-radius: 1rem
                            background-color: chatter-blue-lighter
                            color: white
                            padding: 2px 5px

    .btn-wrapper
        position: absolute
        bottom: 0
        width: 100%
        padding: 7px 14px 7px
        text-align: center

    .roomWrapper
        .ui.inverted.dimmer
            background-color: rgba(255, 255, 255, 0.2);
        &.messagesLoading
            .ui.active.inverted.dimmer
                height: 40px
                top: 5px !important
                z-index: 0

        .padded
            padding-top: 40px


    .addUsers.scrollable.padded
        top: 95px

    .room
        margin: 0 !important
        background-image: url(chatter-svg-bg)
        background-repeat: repeat
        background-size: 260px
        background-color: #f5f8fb

        &.ui.comments
            max-width: 100%
            bottom: 50px
            top: 95px
            padding-bottom: 5px;
            .date-banner
                width: 100%
                text-align: center
                font-weight: bold
                font-size: 0.9em
                padding: 10px

            .comment
                text-align: left
                margin: 0 0 3px
                padding: 0

                .nickname
                    padding-left: 3.6em
                    line-height: 17px
                    color: chatter-meta-gray
                    font-size: 0.85em
                div .content
                    max-width: 257px
                    padding: 5px 10px
                    background-color: chatter-light-gray
                    border-radius: 1em
                    margin-left: 0.6em
                    display: inline-block
                    -webkit-font-smoothing: subpixel-antialiased
                    -moz-osx-font-smoothing: auto
                    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.15)
                    -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,.15)
                    box-shadow: 0 1px 2px 0 rgba(0,0,0,.15)
                    .text
                        margin: 0.1em 0em 0.1em
                .avatar
                    cursor: pointer
                    width: 2em
                    img
                        border-radius: 1rem
                        -moz-osx-font-smoothing: auto
                        -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.15)
                        -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,.15)
                        box-shadow: 0 1px 2px 0 rgba(0,0,0,.15)
                .time-ago
                    line-height: 17px
                    color: chatter-meta-gray
                    font-size: 0.75em
                    padding-left: 37px

                &.yours
                    text-align: right
                    .nickname
                        display: none
                    .author, .date, .content .text
                        color: rgba(0, 0, 0, 0.87)

                     div .content
                        text-align: left
                        margin-left: 0
                        display: inline-block
                        background-color: chatter-green
                    .avatar
                        float: right
                        display: none
                    .time-ago
                        padding-left: 0
                        padding-right: 13px
    .newRoom
        #multi-select .ui.label img
            height: 1.2em !important
        .ui.button
           display: block
           margin: 20px auto
    .writer
        position: absolute
        width: 100%
        bottom: 0
        border-top: 1px solid rgba(128, 128, 128, 0.08)
        .field
            textarea
                max-height: 250px
                min-height: 48px
                padding: 18px 70px 18px 20px
                vertical-align: middle
                resize: none
                border-radius: 0 0 4px 4px
                border: none
                overflow: auto
                outline: none
                -webkit-box-shadow: none
                -moz-box-shadow: none
                box-shadow: none
            .send-btn
                position: absolute
                right: 0px
                bottom: 0px
                padding: 16px 20px
                cursor: pointer
                top: 0
                display: flex
                align-items: center
                color: #197cd0
                font-size: 15px
                &:hover
                    color: #439fe0

    .settings
        &.scrollable
            bottom: 0px

        .ui.list
            > .item > i.icon
                padding-right: 0
                font-size: 1.7em
        .addUserItem
            cursor: pointer
        .inviter
            .ui.button.primary
                margin-top: 10px
        .deleteBtnWrapper
            padding-bottom: 20px

    .online-user-banner
        position: absolute
        top: 55px
        height: 40px
        left: 0
        right: 0
        background-color: chatter-blue-lighter
        padding: 5px 10px
        display: flex;
        align-items: center;
        justify-content: center;
        .left, .right, .center
            display: flex
        .left
            flex: 1
            i
                font-size: 1.1em;
                margin-left: 6px;
                color: white
                cursor: pointer
            .deleteBtnWrapper
                padding-bottom: 20px

        .center
            flex: 6
            justify-content: center;
            align-items: center;
            .notSeen
                display: flex;
                color: white;
                padding: 3px 0 0 7px;
                font-size: 13px;
                i
                    margin: 0;
        .right
            flex: 1
        .user
            margin-right: 2px
            .ui.avatar.image
                border: 1px solid white
                width: 2.1em;
                height: 2.1em;
                margin-right: 0;
        .user-status
            top: 5px;
        .addUserBtn
            border: 1px solid white
            margin-right: 2px
            width: 2.1em;
            height: 2.1em;
            padding: 0.55em;
            background-color: chatter-light-gray
            z-index: 10

.chatter-open.ui.button
    font-size: 2.2em
    padding: 0.40em 0.30em
    opacity: 1
    position: fixed
    top: 0px
    border-radius: 100px
    border: 1px solid chatter-blue-darker
    background-color: chatter-blue

    i.icon
        opacity: 1
        margin: 0
        color: #fff

    .widget-msg-notif
        position: absolute
        width: 17px
        height: 17px
        border-radius: 0.5em
        z-index: 1
        border: 1px solid #fbfafd
        top: 0px
        right: 1px
        background-color: orange

